
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<i class="fa-regular fa-square-check"></i>
<% if @task.completed == true %>
<i class="fa-regular fa-square-check"></i>
<% else %>
<i class="fa-regular fa-square"></i>

<% end %>

<p><%= link_to "Back to list", tasks_path %></p>

<p><i class="fa-solid fa-trash-can"></i>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></p>
